@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,600,700');
body{
	font-family: 'Cabin', sans-serif;
	font-size: 14px;
	color: #212529;
	background-image: url("../img/bckg2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.header-area.sticky {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
	width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 99;
}
.header-area.sticky .navbar-default{
	background-color: #884bdf;
}

#hero{
	background-image: url("../img/517453.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: #FFF;
	padding: 10% 0;	
}

#hero h1{
	text-align: center;
	font-size: 50px;
	text-shadow: 2px 1px 4px #eee;
	color: #000;
	font-weight: 500;
	letter-spacing: 1px;
}

#hero p{
	font-size: 30px;
	letter-spacing: 1px;
	color: #000000;
	text-shadow: 2px 1px 4px #eee;
}

#myBtn {
  display: none; 
  position: fixed;
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none;
  background-color: #008596; 
  color: white; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px; 
  font-size: 18px;
}

#myBtn:hover {
  background-color: #555;
}

footer{
	background-color: #000000;
	margin-top: 10%;
	padding: 2% 0;
}

footer p{
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	color: #D1D1D1;
}

.section{
	padding: 80px 0;
}

#servicios img, #about img, #projects img, #contact img{
	width: 70%;
	opacity: 200%;
}

#servicios img, #projects img {
	margin-left: 20%;
}

#servicios, #about, #projects, #contact{
	text-align: center;
	margin: 5%;
}

#servicios, #projects{
	background-color: #555555;
}

#about, #contact{
	background-color: #9D9D9D;
}

#servicios h3, #about h3, #projects h3, #contact h3{
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 40px;
	padding: 3% 0;
}

#servicios p, #about p, #projects p, #contact p{
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 25px;
}

#contactinfo {
	margin-top: -7%;
}

#contactform input, #contactform textarea{
	background-color: #eee;
	border-radius: 0;
	padding: 25px 10px;
}

#contactform select{
	background-color: #eee;
	border-radius: 0;
}

.btn-cc{
	padding: 10px 30px;
	font-size: 13px;
	font-weight: 600;
	background-color: #800000;
	border: 0;
	color: #fff;
}

#contactform label{
	color:#D9D9D9;
}

#Center{
	text-align: center;
	color: #FFFFFF;
	background-color: #3E3E3E;
}

#special{
	text-align: center;
	color: #fff;
	font-size: 20px;
	padding: 5% 0 0;
}

#special i{
	font-size: 30px;
	color: #12B9CD;
}

.producto-nombre {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	color: #fff;
	text-align: center;
	display: grid;
	align-content: center;
	background-color: #D00000;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}

.producto:hover .producto-nombre {
	opacity: 1;
	transition: all 0.5s ease-in-out;
}

#gallery .row{
	width: 100%;
	padding: 5% 0 0;
}

#services{
	color: #FFFFFF;
	text-align: left;
	font-size: 30px;
}

#services h3{
	font-size: 20px;
	text-align: center;
}

#services h2{
	font-size: 30px;
	text-align: center;
}

#services p{
	font-size: 15px;
}